<div class="d-flex justify-content-center align-items-center ">
    <div style="width: 500px;border: 2px solid " class="p-3 m-3">
        <div class="d-flex justify-content-between m-1">
            <button class="selecter btn" routerLink="/credit/create">Başvur</button>
            <button class="selecter btn" routerLink="/credit/find">Öğren</button>
            <button class="selecter btn" routerLink="/credit/update">Güncelle</button>

        </div>
        <hr>
        <router-outlet></router-outlet>


    </div>
</div>
<!-- <create-credit></create-credit>
<find-credit></find-credit>
<update-credit></update-credit> -->
